{% extends "govuk/template.njk" %}

{% block head %}
    <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}


{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="/js/govuk.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
